.watch-list {
  font-family: "Outfit" !important;
  margin: 5rem;
  .header {
    display: flex;
    justify-content: space-between;
    .sort {
      display: flex;
      align-items: center;
      img {
        height: 4rem;
      }
      select {
        font-size: 2rem;
      }
    }
  }

  .movie {
    display: flex;
    gap: 5rem;
    margin-bottom: 2rem;
    background-color: rgb(136, 155, 199);
    border-radius: 1rem;
    padding: 2rem;
    .head {
      display: flex;
      justify-content: space-between;
    }
    b {
      font-size: 1.8rem;
      font-weight: 600;
    }
    img {
      display: block;
      width: 12rem;
    }
    .info {
      h5 {
        font-size: 2.4rem;
        font-weight: 600;
        color: #9ad7f6;
      }
      img {
        display: block;
        width: 3rem;
      }
      .if-1,
      .if-2,
      .if-3 {
        display: flex;
        gap: 1rem;
      }
      .if-2 {
        border-left: 5px solid rgb(255, 255, 255);
        padding-left: 1rem;
      }
      .if-3 {
        display: flex;
        align-items: center;

        img {
          display: block;
        }
        align-items: flex-end;
        font-weight: 800;
        font-size: 2rem;
        p {
          margin: 0;
        }
      }
    }
  }
}

img,
p {
  margin: 0;
}
